.horario-container {
  width: 20rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Estilização do dropdown */
.horario-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #456650;
  border-radius: 5px;
  background-color: #C8E4D3;
  text-align: center;
  cursor: pointer;
  color: #456650;
}

/* Lista de horários */
.horario-lista {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

/* Botões de horários */
.horario-botao {
  width: 100%;
  padding: 12px;
  border: 1px solid #456650;
  background-color: white;
  border-radius: x;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
  color: #456650;
}

.horario-botao:hover {
  background-color: #e3f2e3;
}

/* Botão de horário selecionado */
.horario-botao.selecionado {
  background-color: #7EBD94;
  color: white;
  font-weight: bold;
}
