.radio-group-vertical {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 100%;
}

.radio-label-vertical {
  font-weight: bold;
  font-size: 13px;
  color: #456650;
  margin-bottom: 6px;
  text-transform: uppercase; /* 🔹 tudo em maiúsculas */
}

.radio-options-vertical {
  display: flex;
  gap: 20px;
}

.radio-option-vertical {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #456650;
  cursor: pointer;
}

.radio-option-vertical input {
  display: none;
}

.custom-radio {
  width: 16px;
  height: 16px;
  border: 2px solid #456650;
  border-radius: 50%;
  position: relative;
}

.radio-option-vertical input:checked + .custom-radio {
  background-color: #456650;
  border-color: #456650;
}

.radio-option-vertical input:checked + .custom-radio::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
