.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espaço entre o ícone e o texto */
  padding: 12px;
  background-color: #12656F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-icon {
  width: 20px; /* Largura do ícone */
  height: 20px; /* Altura do ícone */
}

.button:hover {
  background-color: #0e5059;
}
