.input-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.input-container input {
  width: 100%;
  padding: 12px 40px 12px 12px; /* padding direito para o botão */
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #8C8989;
  background-color: #FFFFFF;
  color: #646E7A;
}

.toggle-password-button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-password-button img {
  width: 24px;
  height: 24px;
}
