.campo-busca-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  width: 300px;
  max-width: 300px;
  background-color: white;
}

.icone-busca {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  opacity: 0.7;
}

.campo-busca {
  border: none;
  outline: none;
  font-size: 14px;
  flex: 1;
}
