.sala-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #324939;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  background: white;
  height: 8rem;
  padding: 10px;
  gap: 15px;
}

/* Estiliza o cabeçalho da sala */
.sala-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #324939;
}

/* Layout das informações em colunas */
.sala-info {
  display: flex;
  justify-content: space-between;
}

.info-coluna {
  text-align: center;
}

.info-label {
  font-size: 14px;
  color: #8C8989;
  margin-bottom: 10px; 
}

.info-dado {
  font-size: 14px;
  color: #324939;
}
