.agenda-container {
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  border-radius: 10px;
  background-color: #C8E4D3;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Cabeçalho */
.agenda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agenda-header h2 {
  font-size: 20px;
  font-weight: bold;
  color: #2c482c;
}

.agenda-nav-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #2c482c;
}

.agenda-nav-btn:hover {
  color: #1d331d;
}

/* Dias da Semana */
.agenda-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  padding: 8px 0;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 8px;
}

.weekday {
  padding: 6px;
  color: #2c482c;
  font-size: 14px;
}

/* Dias do Mês */
.agenda-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.agenda-day {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: #324939;
  font-family: 'Inter','Roboto', sans-serif;
  font-weight: 500;
}

.agenda-day:hover {
  background-color: #b2d3b2;
  border-radius: 6px;
}

/* Estilização para dia selecionado */
.selected {
  background-color: #324939;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px;
}

/* Estilização para dias passados (desativados) */
.disabled-day {
  color: #aaa;
  cursor: not-allowed;
  opacity: 0.6;
}
