.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Coluna da esquerda: Formulário */
.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.login-logo img {
  width: 80px;
  height: 80px;
}

h2 {
  color: #12656F;
  font-size: 28px;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #8C8989;
  text-align: right;
  width: 100%;
}

.social-login {
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Botões sociais */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Coluna da direita: Container da ilustração */
.login-illustration {
  flex: 1;
  background: url("/public/imagens/imgfundo.svg") no-repeat center;
  background-size: contain;
}

.login-illustration img {
  width: 100%;
  height: 100vh;
}
