/* Modal geral */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.cadastro-espaco-modal {
  background-color: #eeeeee;
  width: 80vw;
  height: 99vh;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 40px;
}

/* Header */
.cadastro-espaco-modal .header h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #2c4638;
}

/* Formulário */
.cadastro-espaco-modal .form-body {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.cadastro-espaco-modal .form-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cadastro-espaco-modal .form-left,
.cadastro-espaco-modal .form-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cadastro-espaco-modal .form-right {
  align-items: self-end;
}

.cadastro-espaco-modal .dropdown-tipo {
  margin-top: 8px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cadastro-espaco-modal .dropdown-tipo label {
  font-weight: 600;
  color: #1f3b35;
  font-size: 14px;
  width: 30%;
}

.cadastro-espaco-modal .dropdown-tipo select {
  width: 40%;
  padding: 6px 10px;
  border: 1px solid #66a086;
  border-radius: 6px;
  height: 30px;
  font-size: 14px;
}

.cadastro-espaco-modal .radio-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/* Recursos */
.cadastro-espaco-modal .recursos {
  margin-top: 30px;
  border-top: 2px solid #395E4B;
  padding-top: 24px;
}

.cadastro-espaco-modal .recursos h3 {
  margin-bottom: 10px;
  color: #395E4B;
}

.cadastro-espaco-modal .recursos-columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.cadastro-espaco-modal .recursos-fisicos,
.cadastro-espaco-modal .recursos-softwares {
  flex: 1;
  min-width: 300px;
}

.cadastro-espaco-modal .recurso {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.cadastro-espaco-modal .icone {
  width: 28px;
  height: 28px;
}

.cadastro-espaco-modal .software-search {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  width: 80%;
}

.cadastro-espaco-modal .software-search input {
  flex: 1;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.cadastro-espaco-modal .recursos-softwares ul {
  list-style: none;
  padding-left: 0;
  margin-top: 12px;
}

.cadastro-espaco-modal .dropdown-recursos li {
  cursor: pointer;
  padding: 4px 0;
}

.cadastro-espaco-modal .recurso-item {
  display: flex;
  gap: 6px;
  width: 50%;
}

.cadastro-espaco-modal .remove-recurso {
  cursor: pointer;
  font-weight: bold;
  color: rgb(163, 93, 93);
  margin-left: 4px;
}

.cadastro-espaco-modal .remove-recurso:hover {
  color: #f00;
}

.cadastro-espaco-modal .form-footer {
  display: flex;
  justify-content: flex-end;
}
