/* Estilo básico do menu lateral */
.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que o conteúdo seja distribuído */
    height: 100vh; /* Altura total da tela */
    background-color: #12656F; /* Cor de fundo */
    color: #E6E6E6; /* Cor do texto */
    padding: 10px;
    transition: width 0.3s ease; /* Animação para expandir/recolher */
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Peso médio da fonte */
  }
  
  /* Menu fechado */
  .menu-lateral.fechado {
    width: 50px;
  }
  
  /* Menu aberto */
  .menu-lateral.aberto {
    width: 200px;
  }
  
  /* Ícones do menu sempre visíveis */
  .menu-icon {
    width: 24px;
    height: 24px;
  }
  
  /* Texto dos itens do menu - escondido no menu fechado */
  .menu-lateral.fechado ul li span {
    display: none; /* Esconde o texto quando fechado */
  }
  
  /* Texto dos itens do menu - visível no menu aberto */
  .menu-lateral.aberto ul li span {
    display: inline-block; /* Mostra o texto quando aberto */
  }
  
  /* Estilo dos itens do menu */
  .menu-lateral ul {
    list-style: none;
    padding: 0;
  }
  
  .menu-lateral ul li {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
    padding: 10px 15px; /* Espaço interno */
    margin-bottom: 12px; /* Espaçamento entre itens */
    cursor: pointer;
    transition: background-color 0.3s, padding-left 0.3s, color 0.3s;
  }
  
  /* Estilo do item ativo */
  .menu-lateral ul li.ativo {
    background-color: #E6E6E6; /* Cor de fundo para o item selecionado */
    border-radius: 20px;
    color: #12656F; /* Cor do texto do item selecionado */
    padding-left: 10px; /* Para manter a transição */
  }
  
  .menu-lateral ul li.ativo img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(77%) saturate(544%) hue-rotate(155deg) brightness(91%) contrast(91%);
  }
  
  /* Logo do menu */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: width 0.3s, height 0.3s; /* Animação suave */
  }
  
  /* Ajuste de tamanho da logo no menu fechado */
  .menu-lateral.fechado .logo-img {
    width: 50px;
    height: 50px;
  }
  
  /* Ajuste de tamanho da logo no menu aberto */
  .menu-lateral.aberto .logo-img {
    width: 80px;
    height: 80px;
  }

  .logout-btn-fundo {
    width: 100%; /* Garante que o botão ocupa toda a largura */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0; /* Ajuste para melhor espaçamento */
    border: none;
    cursor: pointer;
  }  

  .logout-btn {
    background-color: #E6E6E6;
    width: 100%; /* Faz o botão ocupar toda a largura */
    height: 20px; /* Opcional: Se precisar ocupar toda a altura do rodapé */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    cursor: pointer;
  }