.agendar-container {
  display: flex;
  height: 100vh;
  gap: 20px;
}

/* Sidebar */
.sidebar {
  width: 22.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Conteúdo principal */
.salas-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.salas-container h2 {
  font-size: 22px;
  margin-bottom: 15px;
}
